/*styles for my resume*/



/*main body formatting*/

BODY{
   font-family: 'Open Sans', arial, sans-serif;
   font-size: 1em;
   color:#444
   font-weight:400;
}

/*name formatting*/
h1{
    font-size:3em;
    text-transform:uppercase;
    text-align:center;
    color:#33485e;
}

/*job title formatting*/
strong{
    color:#33485e;
    text-transform:uppercase;
    font-size:1.5em;
}
/*section heading formatting*/
h2 {
    font-size:1.5em;
    text-transform:uppercase;
    background-color:#33485e;
    color:#fff;
}

/*job title formatting*/
h3 {
   font-weight:600;
   font-size:1.5em; 
}

/*job organization formatting*/

h4{
    font-weight:400;
    font-size:1.5em; 
}


/*job dates formatting*/
h5{
    font-weight:400;
    font-size:1em; 
    font-style:italic;
}
/*education items formatting*/
#educationlist {
    font-size:1em;
} 

/*skills items formatting*/
#skillslist {
    font-size:1em;
} 

/*contact info formatting*/
#contactlist {
    font-size:1em;
} 