/*styles for my resume*/


#container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}



/*main body formatting*/


BODY{
   font-family: 'Open Sans', arial, sans-serif;
   font-size: 1em;
   color:#444
   font-weight:400;
}

/*name formatting*/
#name{
    font-size:3em;
    text-transform:uppercase;
    text-align:center;
    color:#33485e;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin:0 auto;
}

/*job title formatting*/
strong{
    color:#33485e;
    text-transform:uppercase;
    font-size:1.5em;
}
/*section heading formatting*/
.sectionheader {
    font-size:1.5em;
    text-transform:uppercase;
    background-color:#33485e;
    color:#fff;
    margin-top:20px; 
    margin-bottom: 10px;
    width: 70%;
    min-width: 300px;
}

/*job title formatting*/
.jobtitle {
   font-weight:600;
   font-size:1.5em; 
}

/*job organization formatting*/

organization{
    font-weight:400;
    font-size:1.25em; 
}


/*job dates formatting*/
h5{
    font-weight:400;
    font-size:1em; 
    font-style:italic;
}
/*education items formatting*/
#educationlist {
    font-size:1em;
} 

/*skills items formatting*/
#skillslist {
    font-size:1em;
} 

/*contact info formatting*/
#contactlist {
    font-size:1em;
} 