/*Color Theme Library
    Find/Replace All
    Color 1:orange
    Color 2:blue
    color 3:green
    color accent: grey*
    
    font main body: georgia serif*/



.nav{
    height:100%
}
@media (max-width:991px) {
#mainsection{
width:100vw !important;
}
.fullbox{
    box-sizing:content-box !important;
    width:100vw !important;
}

}

.titlecontainer{
    position:relative;
}
.titlepanel{
    position:absolute;
    height: 93vh;
    overflow:hidden!important;
    width:100vw;
}

.mainimage{
position:absolute;
left:20vw;
z-index:2;
height:140vw;

}


@media (min-width:991px) {

.mainimage{
position:absolute;
right:0vw;
max-width:60vw;
height:auto;
z-index:2;
}
.titlepanel{
    overflow:hidden;
    height:100vh;
    width:75vw;
    position:absolute;
}

.corporation_name {
    text-align: right;
}

.job_title{
    text-align:right;
}
.divider{
padding-top:100vh!important;
}
}


#titletext{
    position:absolute;
    z-index:6;
    top:10vw;
    left:2vw;
}

.divider{
padding-top:93vh;
}
.section_heading{
    background:orange;
}

.section_body_headline{
    border-left-style:solid;
    border-left-width:4px;
    padding-left:5px;
}

.card{
    margin-top:10px;
    padding-top:15px;
    box-shadow: -1px 1px .25px grey;
    margin-bottom:30px;
}
.card_heading{
    display:block;
    padding-bottom:5px;
    border-bottom-style:solid;
    border-bottom-width:1px;
}

.card_heading_container{
    padding-left:30px;
    padding-right:30px;
}

.logo_image{
    width:80px;
}

.company_description{
    margin-left:30px;
    margin-right: 30px;
    margin-top:10px;
    font-style:italic;
}

.card_body{
    margin-left:30px;
    margin-right: 30px;
}

.employment_dates{
    background:rgb(225, 225, 225);
    margin-bottom:0px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    border-top-style:solid;
    border-top-width:1px;
}

.font_1{
    font-family:georgia serif;
}

.font_2{
    font-family: arial, sans-serif;
    font-size:auto;
}

.corporation_name {
    text-align: center;
}

.job_title{
    text-align:center;
}



.school_name{
    font-size:large;
    text-transform:uppercase;
    padding-left:5px;
    color:blue;
}

.city{
    padding-left:5px;
    margin-bottom:0px;
}

.honors{
    padding-left:5px;
    margin-bottom:2px;
}

.challenge_name{
    font-size:large;
    padding-left:5px;
    color:blue;
}