/*
image hosting url:  https://dlanderm-dal.github.io/david-landerman-jour352/final_project/image_host/
many elements sized proportionally-ergo weird numbers
*/

/*citing tutorial source: https://www.youtube.com/watch?v=hky5KPvOBww
tutorial done in scss which nests so unnested via https://www.testmu.ai/free-online-tools/scss-to-css/, this is for the topper skeleton ONLY after MANY HOURS OF BANGING MY HEAD AGAINST A WALL
*/




.topper {
  width: 100%;
  height: 100vh;
  display: block;

}
.topper .topper-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  position: relative;
  flex-direction: column;
  font-family:Georgia, 'Times New Roman', Times, serif
}


.topper .topper-text h1 {
  font-size:5.23vw;
color:white;
background-color:blue;
margin-top: 14vh;
padding-left:3vw;
padding-right:3vw;
padding-top:1vh;
padding-bottom:1vh;
border-radius:20px;
margin-bottom:1px;
}
.subhead {
  text-align: center;
  font-style: italic;
  font-size:3.66vw;
  background-color:rgba(255, 255, 255, 0.797)

}


 .byline{
  text-align: right;
  margin-left: 30vw;
  font-size:3vw;
  margin-bottom:0;
}


.sub-byline {
  
  margin-left: 50vw;
  font-size:2vw;
  font-style: italic;
  color:gray;
}

@media (max-width: 991.98px) { 

/*https://cssunitconverter.com/vw-to-px*/

    .topper .topper-text h1 {
  font-size:51.8806px;
color:white;
background-color:blue;
margin-top: 14vh;
padding-left:29.7594px;
padding-right:29.7594px;
padding-top:1vh;
padding-bottom:1vh;
border-radius:20px;
margin-bottom:1px;
}
.subhead {
  text-align: center;
  font-style: italic;
  font-size:36.3065px;

}


 .byline{
  text-align: right;
  margin-left: 30vw;
  font-size:29.7594px;
  margin-bottom:0;
}


.sub-byline {
  
  margin-left: 50vw;
  font-size:19.8396px;
  font-style: italic;
  color:gray;
}
 }


 @media (max-width: 576px) { 

/*https://cssunitconverter.com/vw-to-px*/

    .topper .topper-text h1 {
  font-size:40px;
color:white;
background-color:blue;
padding-left:29.7594px;
padding-right:29.7594px;
padding-top:1vh;
padding-bottom:1vh;
border-radius:20px;
margin-bottom:1px;
margin-top:5px;
}
.subhead {
  text-align: center;
  font-style: italic;
  font-size:30.3065px;

}


 .byline{
  text-align: right;
  margin-left: 30vw;
  font-size:29.7594px;
  margin-bottom:0;
}


.sub-byline {
  
  margin-left: 50vw;
  font-size:19.8396px;
  font-style: italic;
  color:gray;
}
 }

.topper .hero {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 0;
}
.topper .hero .hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}


.article-lede{
    font-style:italic;
    text-align:left;
    margin-left:15%;
    margin-right:15%;
    font-size:25px;
    font-family: "Tenor Sans", Helvetica, sans-serif;
    line-height:1.2em;
    background-color:rgba(230, 230, 230, 0.7);
    color:black;
   
    padding: 13px;   
}

@media (max-width: 767.98px) { 
    .article-lede{
        margin-left:5%;
    margin-right:5%;
    }
    .body-text{
    background-color:rgba(255, 255, 255, 0.801);
}

.body-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 25px;
    background-color:rgba(255, 255, 255, 0.825);

}



.section-heading{
    font-family: "Tenor Sans", Helvetica, sans-serif;
    color:rgb(238, 238, 238);
    
    font-size:45px;
    display:inline-block;
    padding:10px;
    /*
    margin-top:4.5%;*/
    font-style:italic;
}

.disclaimer{
    color:rgb(0, 0, 0);
    font-style:italic;
    display:flex;
    align-content:center;
    padding-top:40px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:30px;
    margin-bottom:0;
    
    
}

.page-footer{
    margin-top:40px;
    background-color:rgba(233, 233, 233, 0.542);
    border-top:1px solid black;
}

.heading-holder{
    
    display:inline-block;
    background-color:#082fbd;
    border-radius:10px;
     margin-top:40px;
    margin-left:20%;
    margin-bottom:20px;
    text-shadow: 1px 1px 2px black;

    /*width:auto;
    aspect-ratio:521/184;
    background-image:url("./image_host/white-pill.png");
    background-size:cover;
    background-position: center center;*/
}

@media (max-width: 767.98px) { 
    .heading-holder{
margin-left:10%;
    }
 }

#background-canvas{
    background-image: url("./image_host/wireframe-side-panel.png");
    background-position: right 30px top;
    background-repeat: repeat-y;
    background-size: 22vw auto;
}

@media (max-width: 1178px) { 
    #background-canvas{
        background-size: 259px auto;
        
        background:rgba(255, 255, 255, 0.821)  url("./image_host/wireframe-side-panel.png");
        background-blend-mode: overlay;
        
    }
   .body-text{
    background-color:rgba(255, 255, 255, 0.636);

}
}
 
 

.spacer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:15%;
    margin-right:15%;
   
}

.card-header {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.card-logo {
  width: auto;
  height: 120px;
  object-fit: contain;
  flex-shrink: 0;
}

.card-titles {
  flex: 1;
}

.nonblue{
    color:black;
    text-decoration:none;
    font-size:20px;
    
}



/*Abbreviated table*/
.abbreviated-table{
    font-family: Helvetica, sans-serif;
    margin-bottom:25px;

    
}

.drug-name{
    background-color:#01DCA6;
    padding:0;
    margin:0 auto;
    border:1.5px solid gray;
    display:flex;
    justify-content:center;
   
    
    
}

.drug-name-text{
    text-align:center;
    font-size:20px;
    margin:0 auto;
    
}

.disease{
    background-color:#FA8C02;
    border-top:1.5px solid gray;
    border-bottom:1.5px solid gray;
    
}

.disease-text{
    text-align:left;
    font-size:20px;
    color:white;
     padding:0px;
    margin-bottom:0;
}
.cost-per-pill{
    border-left:1.5px solid gray;
    border-bottom:1.5px solid gray;
    border-right:1.5px solid gray;
    background-color:white;
}

.cost-per-pill-label{
font-size:20px;
font-weight: bold;
color:black;
padding-bottom:0;
margin-bottom:0;
}
.cost-per-pill-price{
font-size:20px;
font-weight:bolder;
color:red;
margin-bottom:0;
}

.cost-per-patient{
    border-bottom:1.5px solid gray;
    background-color:white;
}

.cost-per-patient-label{
font-size:20px;
font-weight: bold;
color:black;
padding-bottom:0;
margin-bottom:0;
}
.cost-per-patient-price{
font-size:20px;
font-weight:bolder;
color:red;
margin-bottom:0;
}

.manufacturer{
    border:1.5px solid gray;
    background-color:#039076;
}

.manufacturer-label{
    padding-top:5px;
    color:white;
    font-size:20px;
    text-align:left;
    padding-bottom:0;
    margin-bottom:0;
}

.manufacturer-text{
    color:white;
    font-size:20px;
    text-align:center;
    margin:0;
    font-weight:bold;
}

.drug-source{
    color:white;
    font-size:10px;
    text-align:right;
    margin-top:10px;
    margin-bottom:0;
}


.abbreviated-table-carousel{
    background-color:rgba(255, 255, 255, 0.937);
}

.datawrapper-graphic{

 border:2px gray solid;
 padding:10px;
  background-color:rgba(255, 255, 255, 0.937);
}
.timeline-graphic{
 border:1px gray solid;
  background-color:rgba(255, 255, 255, 0.937);
}

.pull-quote{
    float:left;
    width:40%;
    background-color:rgba(243, 207, 154, 0.792);
    padding:1rem;
    margin-right: 1.5rem;
    margin-left:-1.5rem;
    border-radius: 6px;
}

@media (max-width: 767.98px) { 
    .pull-quote{
        margin-left:1rem;
        margin-right:1.5rem;
        }
    
    }

.pull-quote-text {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  font-family: "Tenor Sans", Helvetica, sans-serif;
  letter-spacing: -0.5px;
  line-height:2rem;
  font-style: italic;
  font-weight:lighter;
  padding-right:10px;


}

.pull-quote .pull-quote-footer {
  font-size: 0.8rem;
  text-align: right;
  
}

.image-breaker{
    width:80%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgbreak{
    width:100%;
}

.caption{
    font-size:10px;
    color:rgb(148, 148, 148);
    background-color:rgba(255, 255, 255, 0.759);

}

    
.youtube {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}



.video-holder{
  display: flex;
    justify-content: center;
    
}



@media (max-width: 767.98px){ 
    .override-border{
        border:1.5px solid gray;
    }
    .override-border2{
        border:1.5px solid gray;
      
    }
}
