/*
image hosting url:  https://dlanderm-dal.github.io/david-landerman-jour352/final_project/image_host/
many elements sized proportionally-ergo weird numbers
*/

/*citing tutorial source: https://www.youtube.com/watch?v=hky5KPvOBww
tutorial done in scss which nests so unnested via https://www.testmu.ai/free-online-tools/scss-to-css/, this is for the topper skeleton ONLY after MANY HOURS OF BANGING MY HEAD AGAINST A WALL
*/




.topper {
  width: 100%;
  height: 100vh;
  display: block;

}
.topper .topper-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  position: relative;
  flex-direction: column;
  font-family:Georgia, 'Times New Roman', Times, serif
}


.topper .topper-text h1 {
  font-size:5.23vw;
color:white;
background-color:blue;
margin-top: 3vh;
padding-left:3vw;
padding-right:3vw;
padding-top:1vh;
padding-bottom:1vh;
border-radius:20px;
margin-bottom:1px;
}
.subhead {
  text-align: center;
  font-style: italic;
  font-size:3.66vw;
  background-color:rgba(255, 255, 255, 0.797)

}


 .byline{
  text-align: right;
  margin-left: 30vw;
  font-size:3vw;
  margin-bottom:0;
}


.sub-byline {
  
  margin-left: 50vw;
  font-size:2vw;
  font-style: italic;
  color:gray;
}



.topper .hero {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 0;
}
.topper .hero .hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}


.article-lede{
    font-style:italic;
    text-align:left;
    margin-left:15%;
    margin-right:15%;
    margin-top:0;
    font-size:25px;
    font-family: "Tenor Sans", Helvetica, sans-serif;
    line-height:1.2em;
    background-color:rgba(230, 230, 230, 0.7);
    color:black;

    padding: 13px;
}



.body-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 25px;
    background-color:rgba(255, 255, 255, 0.825);

}



.section-heading{
    font-family: "Tenor Sans", Helvetica, sans-serif;
    color:rgb(238, 238, 238);
    font-size:45px;
    display:inline-block;
    padding:10px;
    font-style:italic;
}

.disclaimer{
    color:rgb(68, 68, 68);
    font-style:italic;
    font-size:14px;
    line-height:1.6;
    text-align:center;
    padding:30px 20px;
    margin:0 auto;
    max-width:900px;
}

.page-footer{
    margin-top:60px;
    background-color:rgba(240, 240, 240, 0.9);
    border-top:2px solid rgba(0, 0, 0, 0.1);
    padding:20px 0;
}

.heading-holder{
    
    display:inline-block;
    background-color:#082fbd;
    border-radius:10px;
     margin-top:40px;
    margin-left:10%;
    margin-bottom:20px;
    text-shadow: 1px 1px 2px black;

    /*width:auto;
    aspect-ratio:521/184;
    background-image:url("./image_host/white-pill.png");
    background-size:cover;
    background-position: center center;*/
}



#background-canvas{
    position: relative;
    background-image: url("./image_host/wireframe-side-panel.png");
    background-position: right 30px top;
    background-repeat: repeat-y;
    background-size: 22vw auto;
}

#background-canvas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}


 
 

.spacer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:15%;
    margin-right:15%;
   
}

.card-header {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.card-logo {
  width: auto;
  height: 120px;
  object-fit: contain;
  flex-shrink: 0;
}

.card-titles {
  flex: 1;
}

.nonblue{
    color:black;
    text-decoration:none;
    font-size:20px;
    
}



/*Abbreviated table*/
.abbreviated-table{
    font-family: Helvetica, sans-serif;
    margin-bottom:25px;

    
}

.drug-name{
    background-color:#01DCA6;
    padding:0;
    margin:0 auto;
    border:1.5px solid gray;
    display:flex;
    justify-content:center;
   
    
    
}

.drug-name-text{
    text-align:center;
    font-size:20px;
    margin:0 auto;
    
}

.disease{
    background-color:#FA8C02;
    border-top:1.5px solid gray;
    border-bottom:1.5px solid gray;
    
}

.disease-text{
    text-align:left;
    font-size:20px;
    color:white;
     padding:0px;
    margin-bottom:0;
}
.cost-per-pill{
    border-left:1.5px solid gray;
    border-bottom:1.5px solid gray;
    border-right:1.5px solid gray;
    background-color:white;
}

.cost-per-pill-label{
font-size:20px;
font-weight: bold;
color:black;
padding-bottom:0;
margin-bottom:0;
}
.cost-per-pill-price{
font-size:20px;
font-weight:bolder;
color:red;
margin-bottom:0;
}

.cost-per-patient{
    border-bottom:1.5px solid gray;
    background-color:white;
}

.cost-per-patient-label{
font-size:20px;
font-weight: bold;
color:black;
padding-bottom:0;
margin-bottom:0;
}
.cost-per-patient-price{
font-size:20px;
font-weight:bolder;
color:red;
margin-bottom:0;
}

.manufacturer{
    border:1.5px solid gray;
    background-color:#039076;
    display:flex !important;
    flex-direction:column !important;
    align-self:stretch;
    justify-content:space-between;
}

.manufacturer-label{
    padding-top:5px;
    color:white;
    font-size:20px;
    text-align:center;
    padding-bottom:0;
    margin-bottom:0;
}

.manufacturer-text{
    color:white;
    font-size:20px;
    text-align:center;
    font-weight:bold;
    word-wrap:break-word;
    overflow-wrap:break-word;
    padding:5px 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex:1 1 auto;
    min-height:0;
}

.drug-source{
    color:white;
    font-size:10px;
    text-align:center;
    margin-top:0;
    margin-bottom:0;
    padding-bottom:5px;
}


.abbreviated-table-carousel{
    background-color:rgba(255, 255, 255, 0.937);
}

.datawrapper-graphic{
    border:2px gray solid;
    padding:10px;
    background-color:rgba(255, 255, 255, 0.937);
    max-width:100%;
    margin:20px auto;
    overflow:hidden;
}

.datawrapper-graphic iframe{
    max-width:100%;
    height:auto;
}
.timeline-graphic{
 border:1px gray solid;
  background-color:rgba(255, 255, 255, 0.937);
}

.pull-quote{
    float:left;
    width:40%;
    background-color:rgba(243, 207, 154, 0.792);
    padding:1rem;
    margin-right: 1.5rem;
    margin-left:-1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 6px;
}



.pull-quote-text {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  font-family: "Tenor Sans", Helvetica, sans-serif;
  letter-spacing: -0.5px;
  line-height:2rem;
  font-style: italic;
  font-weight:lighter;
  padding-right:10px;


}

.pull-quote .pull-quote-footer {
  font-size: 0.8rem;
  text-align: right;
  
}

.image-breaker{
    width:80%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgbreak{
    width:100%;
}

.caption{
    font-size:10px;
    color:rgb(148, 148, 148);
    background-color:rgba(255, 255, 255, 0.759);

}

    
.youtube {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}



.video-holder{
  display: flex;
    justify-content: center;
    
}

.top-disclaimer{
    color:red;
    margin-top:5px;
    margin-bottom:0;
    padding:0;
    background-color: white;
    text-align:center;
    width:90vw;
}

.disclaimer-link{
    color:red;
    background-color: white;
    margin-bottom:2px;
}



@media (max-width: 767.98px){ 
    .override-border{
        border:1.5px solid gray;
    }
    .override-border2{
        border:1.5px solid gray;
      
    }
}


@media  (max-width: 991.98px) and (min-width:576px) { 

/*https://cssunitconverter.com/vw-to-px*/

    .topper .topper-text h1 {
  font-size:51.8806px;
color:white;
background-color:blue;
margin-top: 6vh;
padding-left:29.7594px;
padding-right:29.7594px;
padding-top:1vh;
padding-bottom:1vh;
border-radius:20px;
margin-bottom:1px;
}
.subhead {
  text-align: center;
  font-style: italic;
  font-size:36.3065px;

}


 .byline{
  text-align: right;
  margin-left: 30vw;
  font-size:29.7594px;
  margin-bottom:0;
}


.sub-byline {
  
  margin-left: 50vw;
  font-size:19.8396px;
  font-style: italic;
  color:gray;
}
 }


 @media (min-width: 576px) and (max-width: 760px) {
    blockquote {
        max-height: 80vh;
    }

    .pull-quote-text {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
}

 @media (max-width: 576px) {

/*https://cssunitconverter.com/vw-to-px*/

    .topper .topper-text h1 {
  font-size:35px;
color:white;
background-color:blue;
padding-left:10px;
padding-right:10px;
padding-top:1vh;
padding-bottom:1vh;
border-radius:20px;
margin-bottom:1px;
margin-top:5px;
}
.subhead {
  text-align: center;
  font-style: italic;
  font-size:27px;

}


 .byline{
  text-align: right;
  margin-left: 30vw;
  font-size:25px;
  margin-bottom:0;
}


.sub-byline {

  margin-left: 50vw;
  font-size:15px;
  font-style: italic;
  color:gray;
}

.pull-quote{
    float:none;
    width:70%;
    background-color:rgba(243, 207, 154, 0.792);
    padding:1rem;
    margin-left:0;
    margin-right:0;
    margin-top:1rem;
    margin-bottom:1rem;
    border-radius: 6px;
}

.pull-quote-text{
    font-size:3.4722vw;
    padding-right:5px;
    line-height:4.3403vw;
}

.section-heading
{
    font-size:4.3403vw;


}



 }

@media (max-width: 425px) {
    .section-heading{
        font-size:18.5px;
    }

    .pull-quote-text{
        font-size:14.7569px;
        padding-right:5px;
        line-height:18.4463px;
    }
}

 @media (max-width: 767.98px) {
    .article-lede{
        margin-left:5%;
        margin-right:5%;
        margin-top:0;
    }

    #background-canvas{
        margin-top:0;
        padding-top:0;
    }

    .body-text{
        background-color:rgba(255, 255, 255, 0.88);
        margin-left:10%;
        margin-right:10%;
    }

    .datawrapper-graphic{
        padding:5px;
        margin:15px auto;
        border:1px gray solid;
    }
}

@media (max-width: 767.98px) { 
    .heading-holder{
margin-left:10%;
margin-right:10%;
display:inline-block;
max-width:60%;
    }
 }

 @media (max-width: 1178px) and (min-width: 768px) {
    .manufacturer-text {
        font-size: 16px;
    }
}

 @media (max-width: 1178px) {
    #background-canvas{
        background-image: none;
    }

    #background-canvas::before {
        background-image: url("./image_host/wireframe-side-panel.png");
        background-position: center center;
        background-repeat: repeat;
        background-size: auto auto;
        /*BACKGROUND OPACITY CONTROL*/
        opacity: 0.3; /* Adjust this value: 0 = invisible, 1 = fully visible */
    }

   .body-text{
    background-color:rgba(255, 255, 255, 0.636);

}
}

@media (max-width: 767.98px) {
    .pull-quote{
        margin-left:0;
        margin-right:0;
        margin-top:1rem;
        margin-bottom:1rem;
        background-color:rgba(243, 207, 154, 0.907);
        }
    
    }